/*******************************/
/*GENERAL*/
/*******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Epilogue", sans-serif;
}
.heading-primary {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 50px;
}
/*******************************/
/*HEADER*/
/*******************************/
.header {
  height: 96px;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
}
.main-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
.main-nav-link {
  float: left;
  padding: 10px 0;
}
.main-nav-link > a:link,
.main-nav-link > a:visited {
  display: inline;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 15px 32px;
}
.round-curves:link,
.round-curves:visited {
  border: 3px solid #000;
  padding: 15px 32px;
  border-radius: 12px;
}
.first-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* .header > .nav-list > .main-nav-list > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
} */
.header > .nav-list > .main-nav-list {
  position: relative;
}
.sub-menu {
  display: block;
  list-style: none;
  padding: 12px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  width: 220px;
  position: absolute;
  left: -100px;
  top: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
}
.header > .nav-list > .main-nav-list > .main-nav-link:hover > .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
/*******************************/
/*HER0 SECTION*/
/*******************************/

.hero-section {
  padding: 70px 0 96px 0;
}
.hero-img {
  width: 100%;
}
.hero-text-box {
  margin-top: 150px;
}
.hero {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 32px;
  gap: 150px;
}
.hero-description {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: hsl(0, 0%, 41%);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-size: 23px;
  font-weight: 700;
  padding: 25px 35px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 12px;
  color: #fff;
  margin-bottom: 100px;
}
.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
}
.logos img {
  height: 32px;
}
